{% extends 'base.html.twig' %}

{% block title %}{{ pelicula.titulo }}{% endblock %}

{% block body %}
<div class="container mt-4">

    <h1>{{ pelicula.titulo }}</h1>

    {% if pelicula.imagen %}
        <img src="{{ asset('uploads/imagenes/' ~ pelicula.imagen) }}" class="img-fluid mb-3" style="max-width: 300px; height: 300px; object-fit: cover;">
    {% endif %}

    <ul class="list-group bg-dark">
        <li class="list-group-item bg-dark text-white"><strong>Año:</strong> {{ pelicula.ano }}</li>
        <li class="list-group-item bg-dark text-white"><strong>Duración:</strong> {{ pelicula.duracion }} min</li>
        <li class="list-group-item bg-dark text-white"><strong>Descripción:</strong><br>{{ pelicula.descripcion }}</li>
    </ul>

    <a href="{{ path('app_pelicula_index') }}" class="btn btn-secondary mt-3">⬅ Volver</a>
    <a href="{{ path('app_pelicula_edit', {'id': pelicula.id}) }}" class="btn btn-warning mt-3">✏ Editar</a>

    {{ include('pelicula/_delete_form.html.twig') }}

</div>
{% endblock %}
